.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-item {
    align-items: center;
}

.border {
    margin: 3px;
    border: 2px solid red;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-gray {
    background-color: #121212;
    color: white;
}

.rounded {
    border-radius: 7px;
}

.m1 {
    margin: 8px;
}

.p-1 {
    padding: 10px;
}

.bg-head {
    background-color: #101010;
}

.right-bg {
    background: linear-gradient(to bottom, #1e1e1e 21%, #121212 55%);
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #333;
    /* Dark background color for the track */
}

::-webkit-scrollbar-thumb {
    background: #555;
    /* Dark color for the scrollbar */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
    /* Lighter color when hovered */
}

